SQL 邁向大師之路
====
各位學員好，歡迎來到 SQL 練習小教室，如果你成功完成這 32 題，基本上你的 SQL 就已經有很不錯的能力，也能應對80%以上的面試考題囉!


<span class="mark">【SQL語言基本架構】</span>  
 SELECT "欄位名"  
 FROM "表格名"  
 WHERE "條件"  
 GROUP BY "分組依據的欄位"  
 HAVING "函數計算條件"  
 ORDER BY "排序依據欄位"

Table of Contents
----
1. [資料庫下載](#資料庫下載)
2. [導入 SQL](#導入SQL)
3. [開始練習](#開始練習)
4. [TRIM](#TRIM)
5. [LIKE](#LIKE)
6. [各種常用計算公式](#各種常用計算公式)
7. [Alias (別名)](#Alias (別名))
8. [JOIN](#JOIN)
9. [ER圖](#ER圖)
10. [Subquery](#Subquery)
11. [CASE](#CASE)

資料庫下載
----
以下將使用 SQLite 所提供的免費資料庫，下載位置在這裡 <strong> [Download Link](https://www.sqlitetutorial.net/sqlite-sample-database/) </strong>
<br> 下載完之後，記得先看一下資料庫的 ER 圖(Entity Relationship Model)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
from IPython.display import Image
image_url = "https://www.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg"
Image(url=image_url)

導入SQL
----
底下先幫大家導入 SQL，之後就可以直接在 Jupyter notebook 上操作了！
<br>請將下載到電腦中的 Database 連結放在下列 Code 第三行中
<br> db = sqlite3.connect("<Strong><font color="lightblue">Link<font></Strong>")

In [ ]:
import sqlite3
import pandas as pd

# 請在下方引號中間，貼入 Chinook.db 檔案位置
db = sqlite3.connect("/content/chinook.db")

def run_query(query):
    return pd.read_sql_query(query,db)

小提醒
----
請記得，之後的 query 都要包在 <Strong><font color="lightblue">你打出來的 Query<font></Strong> 裡面才可以執行
<br>
<br>Query = '''
<br> <Strong><font color="lightblue">你打出來的 Query<font></Strong>
<br>'''
<br>run_query(Query)

開始練習
----
事不宜遲，我們馬上開始！

# 額外補充： 從 sqlite3 轉 DataFrame 作法

cursor = db.cursor()  
cursor.execute('SELECT * FROM employees')  
data = cursor.fetchall()   

import pandas as pd

df = pd.DataFrame(data)  
df

<Strong>Q1：找出 Employees表格 中的 FirstName 欄</Strong>
<br><font color="lightgreen">SELECT </font>"欄位名" <font color="lightgreen">FROM</font> "表格名"
<br>ANS：<font color="white">SELECT FirstName FROM Employees</font>

In [ ]:
Query = '''
SELECT City, FirstName FROM Employees
'''
run_query(Query)

         City FirstName
0    Edmonton    Andrew
1     Calgary     Nancy
2     Calgary      Jane
3     Calgary  Margaret
4     Calgary     Steve
5     Calgary   Michael
6  Lethbridge    Robert
7  Lethbridge     Laura

<Strong>Q2：找出 Employees 表中的員工 (以 FirstName 表示) 來自哪些城市(City)</Strong>
<br><font color="lightgreen">SELECT </font>"欄位名1", "欄位名2" <font color="lightgreen">FROM</font> "表格名"
<br>ANS：<font color="white">SELECT City, FirstName FROM Employees</font>

In [ ]:
Query = '''
select FirstName , city  from Employees
'''
run_query(Query)

  FirstName        City
0    Andrew    Edmonton
1     Nancy     Calgary
2      Jane     Calgary
3  Margaret     Calgary
4     Steve     Calgary
5   Michael     Calgary
6    Robert  Lethbridge
7     Laura  Lethbridge

In [ ]:
Query = '''
select * from Employees
'''
#打*可以把所有data叫出來
run_query(Query)

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
5,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
6,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
7,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

In [ ]:
Query = '''
select * from Employees limit 3
'''
#打*可以把所有data叫出來，limit 3 撈前三筆
run_query(Query)

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com

<Strong>Q3：找出 Employees 中不重複的城市(City)有哪些</Strong>
<br><font color="lightgreen">SELECT DISTINCT</font> "欄位名" <font color="lightgreen">FROM</font> "表格名"
<br>ANS：<font color="white">SELECT DISTINCT(City) FROM Employees</font>

In [ ]:
Query = '''
SELECT DISTINCT(City) FROM Employees
'''
run_query(Query)

#加distinct可以找出獨立且不重複的

         City
0    Edmonton
1     Calgary
2  Lethbridge

<Strong>Q4：找出 Employees 中 EmployeeId 大於 4 的員工名稱 (以 FirstName 表示)</Strong>
<br><font color="lightgreen">SELECT </font> "欄位名" <font color="lightgreen">FROM</font> "表格名"
<br><font color="lightgreen"> WHERE</font>  "條件"
<br>ANS：<font color="white">SELECT FirstName FROM Employees<br>WHERE EmployeeId > 4</font>

In [ ]:
Query = '''
SELECT FirstName FROM Employees
WHERE EmployeeId > 4
'''
run_query(Query)

  FirstName
0     Steve
1   Michael
2    Robert
3     Laura

<Strong>Q5：找出 Employees 中要跟員工編號(ReportsTo)大於等於 6 或是介於 2 到 4 之間的員工報告的員工名稱 (以 FirstName 表示)，指定用BETWEEN。</Strong>
<br><font color="lightgreen">SELECT </font> "欄位名" <font color="lightgreen">FROM</font> "表格名"
<br><font color="lightgreen">WHERE</font> "條件" <font color="lightgreen">BETWEEN </font>"值一"<font color="lightgreen"> AND </font>"值二"
<br>ANS：<font color="white">SELECT FirstName FROM Employees<br>WHERE ReportsTo >= 6 OR (ReportsTo BETWEEN 2 AND 4)</font>

In [ ]:
Query = '''
SELECT FirstName FROM Employees
WHERE ReportsTo >= 6 OR (ReportsTo BETWEEN 2 AND 4)
'''
run_query(Query)
# and or 千萬不要打錯

  FirstName
0      Jane
1  Margaret
2     Steve
3    Robert
4     Laura

<Strong>Q6：列出 Employees 中 FirstName 為 Michael 或是 Steve 的所有變項資訊</Strong>
<br><font color="lightgreen">SELECT </font> "欄位名" <font color="lightgreen">FROM</font> "表格名"
<br><font color="lightgreen">WHERE</font>  "欄位條件" <font color="lightgreen">IN </font>("值一", "值二")
<br>ANS：<font color="white">SELECT * FROM Employees<br>WHERE FirstName IN ("Michael", "Steve")
</font>

In [ ]:
Query = '''
SELECT * FROM Employees
WHERE FirstName IN ("Michael", "Steve")
'''
run_query(Query)
#不要這兩個資料就寫not in

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,5,Johnson,Steve,Sales Support Agent,2,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
1,6,Mitchell,Michael,IT Manager,1,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com

<Strong>Q7：列出 Employees 中 FirstName 「不」為 Michael 或是 Steve 的所有變項資訊</Strong>
<br><font color="lightgreen">SELECT </font> "欄位名" <font color="lightgreen">FROM</font> "表格名"
<br><font color="lightgreen">WHERE</font>  "條件" <font color="lightgreen"> NOT IN </font>("值一", "值二")
<br>ANS：<font color="white">SELECT * FROM Employees
<br>WHERE FirstName NOT IN ("Michael", "Steve")</font>

In [ ]:
Query = '''
SELECT * FROM Employees
WHERE FirstName NOT IN ("Michael", "Steve")
'''
run_query(Query)

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
5,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

LIKE
----
{模式} 經常包括萬用字元 (wildcard)。若需要依照由字串模式中找出相符的資料，就需要用到萬用字元 (wildcard)。
<br>萬用字元經常與 LIKE 關鍵字一起使用，而 SQL 中有兩個萬用字元：
- % (百分比符號)：代表零個、一個、或數個字母
- _ (底線)：代表剛好一個字母

<br>萬用字元的例子：
- 'A_Z': 所有以 'A' 起頭，另一個任何值的字原，且以 'Z' 為結尾的字串。 'ABZ' 和 'A2Z' 都符合這一個模式，而 'AKKZ' 並不符合 (因為在 A 和 Z 之間有兩個字元，而不是一個字元)。
- 'ABC%': 所有以 'ABC' 起頭的字串。舉例來說，'ABCD' 和 'ABCABC' 都符合這個模式。
- '%XYZ': 所有以 'XYZ' 結尾的字串。舉例來說，'WXYZ' 和 'ZZXYZ' 都符合這個模式。
- '%AN%': 所有含有 'AN'這個模式的字串。舉例來說， 'LOS ANGELES' 和 'SAN FRANCISCO' 都符合這個模式。
- '_AN%'： 所有第二個字母為 'A' 和第三個字母為 'N' 的字串。舉例來說，'SAN FRANCISCO' 符合這個模式，而 'LOS ANGELES' 則不符合這個模式。

<Strong>Q8：列出 Employees 中變項 Address 開頭為 111 的所有變項資訊</Strong>
<br><font color="lightgreen">SELECT </font> "欄位名" <font color="lightgreen">FROM</font> "表格名"
<br><font color="lightgreen">WHERE</font>  "條件" <font color="lightgreen">LIKE </font>"模式"
<br>ANS：<font color="white">SELECT * FROM Employees<br>WHERE Address LIKE "111%"</font>

In [ ]:
Query = '''
SELECT * FROM Employees
WHERE Address LIKE "111%"
'''
run_query(Query)

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com

<Strong>Q9：合併 Employees 中的 FirstName 以及 LastName 變項，命名為 Name，中間以一個空白鍵隔開</Strong>
<br><font color="lightgreen">SELECT </font> "欄位名1" <font color="lightgreen">|| " " || </font>"欄位名2" <font color="lightgreen">AS </font> "新欄位名"<font color="lightgreen"> FROM</font> "表格名"  (PS:進階常用實務中有時不會看到AS)
<br>ANS：<font color="white">SELECT FirstName||" "|| LastName, * FROM Employees</font>

In [ ]:
Query = '''
SELECT FirstName||" "|| LastName AS Name , *FROM Employees
'''
run_query(Query)
#如果要把Name換去其他地方怎麼用

,Name,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,Andrew Adams,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,Nancy Edwards,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,Jane Peacock,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,Margaret Park,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,Steve Johnson,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
5,Michael Mitchell,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
6,Robert King,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
7,Laura Callahan,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

<Strong>Q10：列出上述 Name 變項與其他所有變項，同時將 Name 依照字母以昇序排序，City 以降序排序</Strong>
<br><font color="lightgreen">SELECT </font> "欄位名1" <font color="lightgreen">|| " " || </font>"欄位名2" <font color="lightgreen">AS </font> "新欄位名" <font color="lightgreen">FROM</font> "表格名"
<br> <font color="lightgreen">ORDER BY </font> ASC/DESC
<br>ANS：<font color="white">SELECT FirstName||" "|| LastName AS Name, * FROM Employees
<br>ORDER BY Name ASC, City DESC</font>

In [ ]:
Query = '''
SELECT  *, FirstName||" "|| LastName AS Name FROM Employees
ORDER BY Name ASC, City DESC
'''
run_query(Query)

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email,Name
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com,Andrew Adams
1,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com,Jane Peacock
2,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com,Laura Callahan
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com,Margaret Park
4,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com,Michael Mitchell
5,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com,Nancy Edwards
6,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com,Robert King
7,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com,Steve Johnson

各種常用計算公式
----
資料庫中有許多資料都是以數字型態存在，一個很重要的用途就是要能夠對這些數字做一些運算， 例如將它們總合起來，或是找出它們的平均值。SQL 有提供一些這一類的函數：
<br>運算型函數：
- AVG (平均)
- COUNT (計數)
- MAX (最大值)
- MIN (最小值)
- SUM (總合)

<br>運用函數的語法是：
<br><font color="lightgreen">SELECT 函數名</font>("欄位名")
<br><font color="lightgreen">FROM</font> "表格名";

<Strong>Q11：請計算 Invoice_Items 中發票編號(InvoiceId)為 200 的全部產品的平均售價(UnitPrice)</Strong>
<br><font color="lightgreen">SELECT AVG(</font>"欄位名"<font color="lightgreen">) FROM</font> "表格名"
<br><font color="lightgreen">WHERE</font> "條件"
<br>ANS：<font color="white">SELECT AVG(UnitPrice) FROM Invoice_Items
<br>WHERE InvoiceId = "200"</font>

In [ ]:
Query = '''
SELECT AVG(UnitPrice) FROM Invoice_Items
WHERE InvoiceId = "200"
'''
run_query(Query)

   AVG(UnitPrice)
0            0.99

In [ ]:
Query = '''
SELECT MAX(UnitPrice) FROM Invoice_Items
WHERE InvoiceId = "200"
'''
run_query(Query)

   MAX(UnitPrice)
0            0.99

In [ ]:
Query = '''
SELECT MIN(UnitPrice) FROM Invoice_Items
WHERE InvoiceId = "200"
'''
run_query(Query)
#都一樣有幾種可能，售價都長一樣或只有一筆資料

   MIN(UnitPrice)
0            0.99

<Strong>Q12：請計算 Invoice_Items 中發票編號(InvoiceId)於 200 至 300 之間的產品數量(Quantity)</Strong>
<br><font color="lightgreen">SELECT COUNT(</font>"欄位名"<font color="lightgreen">) FROM</font> "表格名"
<br><font color="lightgreen">WHERE</font> "條件" <font color="lightgreen">BETWEEN </font>"值" <font color="lightgreen">AND </font>"值"
<br>ANS：<font color="white">SELECT COUNT(Quantity) FROM Invoice_Items
<br>WHERE InvoiceId BETWEEN 200 AND 300</font>

In [ ]:
Query = '''
SELECT COUNT(Quantity) FROM  Invoice_Items
WHERE InvoiceId BETWEEN 200 AND 300
'''
run_query(Query)

   COUNT(Quantity)
0              556

<Strong>Q13：請計算 Invoice_Items 中總計有幾張發票(Tips: 每一張發票有各自的InvoicedId)</Strong>
<br><font color="lightgreen">SELECT COUNT(DISTINCT(</font>"欄位名"<font color="lightgreen">)) FROM</font> "表格名"
<br>ANS：<font color="white">SELECT COUNT(DISTINCT InvoiceId) FROM Invoice_Items</font>

In [ ]:
Query = '''
SELECT DISTINCT InvoiceId FROM Invoice_Items
'''
run_query(Query)

     InvoiceId
0            1
1            2
2            3
3            4
4            5
..         ...
407        408
408        409
409        410
410        411
411        412

[412 rows x 1 columns]

In [ ]:
Query = '''
SELECT COUNT(DISTINCT InvoiceId) FROM Invoice_Items
'''
run_query(Query)
#可以包含雙重函數

   COUNT(DISTINCT InvoiceId)
0                        412

<Strong>Q14：請計算 Invoice_Items 中每張發票(InvoiceId)中所購買的產品總數量(Quantity)</Strong>

<br>筆記：Group by 為分組函數，時常拿來與聚合函數(e.g. Sum/Count/Avg)一起使用，例如一張發票中有很多商品，想計算這張發票的總金額就會使用到 Group by 加上 Sum 的函數組合</font>

<br><font color="lightgreen">SELECT SUM(</font>"欄位名"<font color="lightgreen">) FROM</font> "表格名"
<br><font color="lightgreen">GROUP BY</font> "欄位名"
<br>ANS：<font color="white">SELECT InvoiceId, SUM(Quantity) FROM Invoice_Items
<br>GROUP BY InvoiceId</font>

In [ ]:
Query = '''
SELECT InvoiceId, SUM(Quantity) FROM Invoice_Items
GROUP BY InvoiceId
'''
run_query(Query)

     InvoiceId  SUM(Quantity)
0            1              2
1            2              4
2            3              6
3            4              9
4            5             14
..         ...            ...
407        408              4
408        409              6
409        410              9
410        411             14
411        412              1

[412 rows x 2 columns]

<Strong>Q15：請計算發票中所購買的產品總數量大於 5 個的發票編號(InvoiceId)與數量(Quantity)</Strong>


<br>筆記：Group by 分組後，若要進行條件判斷需要透過 Having 進行條件判斷，而不是用 Where 條件判斷式</font>

<br><font color="lightgreen">SELECT SUM(</font>"欄位名"<font color="lightgreen">) FROM</font> "表格名"
<br><font color="lightgreen">GROUP BY</font> "欄位名"
<br><font color="lightgreen">HAVING SUM(</font>"欄位名"<font color="lightgreen">) </font> > "條件"
<br>ANS：<font color="white">SELECT InvoiceId, SUM(Quantity) FROM Invoice_Items
<br>GROUP BY InvoiceId
<br>HAVING SUM(Quantity) > 5</font>

In [ ]:
Query = '''
SELECT InvoiceId, SUM(Quantity) FROM Invoice_Items
GROUP BY InvoiceId
Having SUM(Quantity) > 5

'''
run_query(Query)

     InvoiceId  SUM(Quantity)
0            3              6
1            4              9
2            5             14
3           10              6
4           11              9
..         ...            ...
172        403              9
173        404             14
174        409              6
175        410              9
176        411             14

[177 rows x 2 columns]

<Strong>Q16：請將每張發票(InvoiceId)中所購買產品種類數量從多至少排序，並抓出平均價格(UnitPrice)從低至高排序</Strong>
<br><font color="lightgreen">SELECT </font>"欄位名"<font color="lightgreen"> AS FROM</font> "表格名"
<br><font color="lightgreen">GROUP BY</font> "欄位名"
<br><font color="lightgreen">ORDER BY</font> "欄位名"<font color="lightgreen"> ASC/DESC </font>
<br>ANS：<font color="white">SELECT InvoiceId, SUM(Quantity), AVG(UnitPrice) FROM Invoice_Items
<br>GROUP BY InvoiceId
<br>ORDER BY SUM(Quantity) DESC, AVG(UnitPrice) ASC
</font>

In [ ]:
Query = '''
SELECT InvoiceId, SUM(Quantity), AVG(UnitPrice) FROM Invoice_Items
GROUP BY InvoiceId
ORDER BY SUM(Quantity) DESC, AVG(UnitPrice) ASC
'''
run_query(Query)

     InvoiceId  SUM(Quantity)  AVG(UnitPrice)
0            5             14            0.99
1           12             14            0.99
2           19             14            0.99
3           26             14            0.99
4           33             14            0.99
..         ...            ...             ...
407        405              1            0.99
408         97              1            1.99
409        202              1            1.99
410        307              1            1.99
411        412              1            1.99

[412 rows x 3 columns]

In [ ]:
Query = '''
SELECT * FROM Invoice_Items

'''
run_query(Query)

      InvoiceLineId  InvoiceId  TrackId  UnitPrice  Quantity
0                 1          1        2       0.99         1
1                 2          1        4       0.99         1
2                 3          2        6       0.99         1
3                 4          2        8       0.99         1
4                 5          2       10       0.99         1
...             ...        ...      ...        ...       ...
2235           2236        411     3136       0.99         1
2236           2237        411     3145       0.99         1
2237           2238        411     3154       0.99         1
2238           2239        411     3163       0.99         1
2239           2240        412     3177       1.99         1

[2240 rows x 5 columns]

Alias (別名)
----
最常用到的別名有兩種：欄位別名及表格別名。
<br>簡單地來說，欄位別名的目的是為了讓 SQL 產生的結果易讀。在之前的例子中，每當我們有產品數量總合時，欄位名都是 SUM(Quantity)。雖然在這個情況下沒有什麼問題，可是如果這個欄位不是一個簡單的總合，而是一個複雜的計算，那欄位名就沒有這麼易懂了。若我們用欄位別名的話，就可以確認結果中的欄位名是簡單易懂的。
<br>第二種別名是表格別名。要給一個表格取一個別名，只要在 FROM 子句中的表格名後空一格，然後再列出要用的表格別名就可以了。這在我們要用 SQL 由數個不同的表格中獲取資料時是很方便的。這一點我們在之後談到連接 (join) 時會看到。
<br>
<br>我們先來看一下欄位別名和表格別名的語法：
<br><font color="lightgreen">SELECT </font>"欄位別名"."欄位名"<font color="lightgreen"> AS </font>"欄位別名"<font color="lightgreen">
<br>FROM</font> "表格名" <font color="lightgreen">AS </font>"欄位別名"

 <Strong>Q17：請計算每張發票中所購買的產品總數量，這次請將發票編號命名為 "Invoice ID"，產品總數量則命名為 "Total Quantity"， Invoice_Items 這張表格命名為 I</Strong>
<br><font color="lightgreen">SELECT </font>"欄位別名"."欄位名"<font color="lightgreen"> AS </font>"欄位別名"<font color="lightgreen">
<br>FROM</font> "表格名" <font color="lightgreen">AS </font>"欄位別名"
<br><font color="lightgreen">GROUP BY</font> "欄位名"
<br>ANS：<font color="white">SELECT I.InvoiceId AS "Invoice ID", SUM(I.Quantity) AS "Total Quantity"
<br>FROM Invoice_Items AS I
<br>GROUP BY I.InvoiceId</font>

In [ ]:
Query = '''
SELECT InvoiceId as "Invoice ID", SUM(Quantity) as "Total Quantity"
FROM Invoice_Items "II"
GROUP BY InvoiceId
'''
run_query(Query)

     Invoice ID  Total Quantity
0             1               2
1             2               4
2             3               6
3             4               9
4             5              14
..          ...             ...
407         408               4
408         409               6
409         410               9
410         411              14
411         412               1

[412 rows x 2 columns]

In [ ]:
Query = '''
SELECT InvoiceId "Invoice ID", SUM(Quantity) "Total Quantity"
FROM Invoice_Items "II"
GROUP BY InvoiceId
'''
run_query(Query)
#as拿掉也可以

     Invoice ID  Total Quantity
0             1               2
1             2               4
2             3               6
3             4               9
4             5              14
..          ...             ...
407         408               4
408         409               6
409         410               9
410         411              14
411         412               1

[412 rows x 2 columns]

JOIN
----
透過串接兩張（或以上）的表並設定好串接的 Key，就可以做出跨表查詢的功能囉~
<br>這邊介紹兩種常用的 JOIN 方式，分別是:
1. INNER JOIN：即 A, B <span class="mark">兩表中都存在的 Key 值</span>才會出現在 JOIN 後的結果中

2. LEFT JOIN：即以 <span class="mark">A 表為基準值</span>，存在 A 表的 Key 值如果可以在 B 找到就會顯示資料，否則會呈現 NULL



<br>我們來看一下欄位別名和表格別名的語法：
<br><font color="green">SELECT </font>"欄位名"
<br><font color="green">FROM</font> "表格名"
<br><font color="green">INNER/LEFT JOIN</font> "表格名" <font color="green"> ON </font>"欄位名1" = "欄位名2"

In [ ]:
from IPython.display import Image
image_url1 = "https://dataschool.com/assets/images/how-to-teach-people-sql/sqlJoins/sqlJoins_7.png"
Image(url=image_url1)

In [ ]:
image_url2 = "https://miro.medium.com/v2/resize:fit:1400/1*GigXPhr4Ue2zbrgIIoB8Lw.png"
Image(url=image_url2)

ER圖
----
再看一次等等會很常用到的 ER 圖

In [ ]:
Image(url=image_url)

<Strong>Q18：合併 Albums 與 Tracks 兩張表，找出最長的一張專輯編號(AlbumId)與專輯名稱(Title)，依照時(Milliseconds)長降序排列</Strong>

<br>筆記：一張專輯 (Albumid)當中包含數首歌曲(Name)，或要知道專輯長度則需加總同一專輯中所有歌曲的時長</font>

<br><font color="lightgreen">SELECT </font>"欄位別名"."欄位名"<font color="lightgreen"> AS </font>"欄位別名"<font color="lightgreen">
<br>FROM</font> "表格名" <font color="lightgreen">AS </font>"欄位別名"
<br><font color="lightgreen">INNER JOIN</font> "表格名" <font color="lightgreen"> ON </font>"欄位名1" = "欄位名2"
<br><font color="lightgreen">GROUP BY</font> "欄位名"
<br><font color="lightgreen">ORDER BY</font> "欄位名"<font color="lightgreen"> ASC/DESC </font>
<br>ANS：<font color="white">SELECT A.AlbumId, A.Title, SUM(T.Milliseconds) AS Length
<br>FROM Tracks AS T
<br>INNER JOIN Albums AS A ON T.AlbumId = A.AlbumId
<br>GROUP BY T.AlbumId
<br>ORDER BY Length DESC</font>

In [ ]:
Query = '''
SELECT T.AlbumId, Title, SUM(Milliseconds) AS Length
FROM Tracks AS T
LEFT JOIN Albums AS A ON T.AlbumId = A.AlbumId
GROUP BY T.AlbumId
ORDER BY Length DESC
'''
run_query(Query)
#分析的主軸是誰就把他當主表

     AlbumId                                              Title    Length
0        229                                     Lost, Season 3  70665582
1        253           Battlestar Galactica (Classic), Season 1  70213784
2        230                                     Lost, Season 1  64854936
3        231                                     Lost, Season 2  63289631
4        228                                   Heroes, Season 1  59780268
..       ...                                                ...       ...
342      315  Handel: Music for the Royal Fireworks (Origina...    120000
343      328      Charpentier: Divertissements, Airs & Concerts    110266
344      318                           SCRIABIN: Vers la flamme    101293
345      345                                Monteverdi: L'Orfeo     66639
346      340        Liszt - 12 Études D'Execution Transcendante     51780

[347 rows x 3 columns]

*** <Strong>Q19：承上題，從 Albums 與 Tracks 兩張表找出總時長大於 60000000 Milliseconds 的專輯，並將總時常由高到低排序</Strong>***

<br>筆記：當出現 Group by 聚合函數時，條件判斷式用 Having。如果還需要排序，程式碼的順序必須為 <span class="mark"><Strong>『 Group by -> Having -> Order by 』 </Strong></font></span>





<br><font color="lightgreen">SELECT </font>"欄位別名"."欄位名"<font color="lightgreen"> AS </font>"欄位別名"<font color="lightgreen">
<br>FROM</font> "表格名" <font color="lightgreen">AS </font>"欄位別名"
<br><font color="lightgreen">INNER JOIN</font> "表格名" <font color="lightgreen"> ON </font>"欄位名1" = "欄位名2"
<br><font color="lightgreen">GROUP BY</font> "欄位名"
<br><font color="lightgreen">HAVING </font>"欄位名" > "條件"
<br><font color="lightgreen">ORDER BY</font> "欄位名"<font color="lightgreen"> ASC/DESC </font>
<br>ANS：<font color="white">SELECT A.AlbumId, A.Title, SUM(T.Milliseconds) AS Length
<br>FROM Tracks AS T
<br>INNER JOIN Albums AS A ON T.AlbumId = A.AlbumId
<br>GROUP BY T.AlbumId
<br>HAVING Length > 60000000
<br>ORDER BY Length DESC</font>

In [ ]:
Query = '''
SELECT A.AlbumId, A.Title, SUM(T.Milliseconds) AS Length
FROM Tracks T
INNER JOIN Albums A ON T.AlbumId = A.AlbumId
GROUP BY T.AlbumId
HAVING Length > 60000000
ORDER BY Length DESC
'''
run_query(Query)
#GHO 怎麼來的

   AlbumId                                     Title    Length
0      229                            Lost, Season 3  70665582
1      253  Battlestar Galactica (Classic), Season 1  70213784
2      230                            Lost, Season 1  64854936
3      231                            Lost, Season 2  63289631

<Strong>Q20：上述概念多練一題。從 Invoices 與 Customers 兩張表列出平均購買金額(Total)超過 6 的顧客 FirstName 與 CustomerID，並將平均購買金額由高到低排序</Strong>
<br><font color="green">SELECT </font>"欄位別名"."欄位名"<font color="green"> AS </font>"欄位別名"<font color="green">
<br>FROM</font> "表格名" <font color="green">AS </font>"欄位別名"
<br><font color="green">INNER JOIN</font> "表格名" <font color="green"> ON </font>"欄位名1" = "欄位名2"
<br><font color="green">GROUP BY</font> "欄位名"
<br><font color="green">HAVING AVG(</font>"欄位名"<font color="green">)</font> > "條件"
<br>ANS：<font color="white">SELECT C.CustomerID, C.FirstName, AVG(I.total) AS Average_Total
<br>FROM customers AS C
<br>INNER JOIN Invoices AS I ON C.CustomerId = I.CustomerId
<br>GROUP BY I.CustomerId
<br>HAVING AVG(total)>6
<br>ORDER BY Average_Total DESC</font>

In [ ]:
Query = '''
SELECT C.CustomerID, C.FirstName, AVG(I.total) AS Average_Total
FROM customers AS C
INNER JOIN Invoices AS I ON C.CustomerId = I.CustomerId
GROUP BY I.CustomerId
HAVING AVG(total)>6
ORDER BY Average_Total DESC
'''
run_query(Query)

#HW

    CustomerId FirstName  Average_Total
0            6    Helena       7.088571
1           26   Richard       6.802857
2           57      Luis       6.660000
3           45  Ladislav       6.517143
4           46      Hugh       6.517143
5           28     Julia       6.231429
6           24     Frank       6.231429
7           37      Fynn       6.231429
8           59      Puja       6.106667
9            7    Astrid       6.088571
10          25    Victor       6.088571

<Strong>Q21：(多表串聯練習)從 Invoices, Invoice_Items, Tracks 三張表找出每一首歌被購買了幾次，依照被聽最多次到最少次排列</Strong>

<br>筆記：題目越來越複雜時不用著急，先把所有資料合併看看長相，再一步步往下給予合適的函數 </Strong></font></span>

<br><font color="green">SELECT </font>"欄位別名"."欄位名"<font color="green"> AS </font>"欄位別名"<font color="green">
<br>FROM</font> "表格名" <font color="green">AS </font>"欄位別名"
<br><font color="green">INNER JOIN</font> "表格名1" <font color="green"> ON </font>"欄位名1" = "欄位名2"
<br><font color="green">INNER JOIN</font> "表格名2" <font color="green"> ON </font>"欄位名3" = "欄位名4"
<br><font color="green">GROUP BY</font> "欄位名"
<br><font color="green">ORDER BY</font> "欄位名"<font color="green"> ASC/DESC </font>
<br>ANS：<font color="white">SELECT T.Name, COUNT(I.InvoiceID) AS Purchased_times
<br>FROM Invoices AS I
<br>INNER JOIN Invoice_Items AS II ON I.InvoiceID = II.InvoiceID
<br>INNER JOIN Tracks AS T ON II.TrackID = T.TrackID
<br>GROUP BY T.Name
<br>ORDER BY Purchased_times DESC</font>

In [ ]:
Query = '''
SELECT T.Name, COUNT(I.InvoiceID) AS Purchased_times
FROM Invoices AS I
INNER JOIN Invoice_Items AS II ON I.InvoiceID = II.InvoiceID
INNER JOIN Tracks AS T ON II.TrackID = T.TrackID
GROUP BY T.Name
ORDER BY Purchased_times DESC
'''
run_query(Query)

                                   Name  Purchased_times
0                           The Trooper                5
1                              Untitled                4
2               The Number Of The Beast                4
3                   Sure Know Something                4
4                  Hallowed Be Thy Name                4
...                                 ...              ...
1883  (White Man) In Hammersmith Palais                1
1884         (Anesthesia) Pulling Teeth                1
1885                    'Round Midnight                1
1886                           #9 Dream                1
1887                                "?"                1

[1888 rows x 2 columns]

<Strong>Q22：從 Artists, Albums 兩張表中找出沒有創作專輯的創作者(Title IS NULL) </Strong>
<br><font color="green">SELECT </font>"欄位別名"."欄位名"<font color="green"> AS </font>"欄位別名"<font color="green">
<br>FROM</font> "表格名" <font color="green">AS </font>"欄位別名"
<br><font color="green">LEFT JOIN</font> "表格名1" <font color="green"> ON </font>"欄位名1" = "欄位名2"
<br><font color="green">WHERE</font> "欄位名" <font color="green"> IS NULL </font>
<br>ANS：<font color="white">SELECT Ar.ArtistID, Ar.Name, Al.AlbumID
<br>FROM Artists AS Ar
<br>LEFT JOIN Albums AS Al ON Ar.ArtistID = Al.ArtistID
<br>WHERE Al.Title IS NULL</font>

In [ ]:
Query = '''
SELECT title,Ar.ArtistID, Ar.Name, Al.AlbumID
FROM Artists AS Ar
LEFT JOIN Albums AS Al ON Ar.ArtistID = Al.ArtistID
WHERE Al.Title IS NULL
'''
run_query(Query)

   Title  ArtistId                                               Name AlbumId
0   None        25                         Milton Nascimento & Bebeto    None
1   None        26                                            Azymuth    None
2   None        28                                      João Gilberto    None
3   None        29                                     Bebel Gilberto    None
4   None        30                                      Jorge Vercilo    None
..   ...       ...                                                ...     ...
66  None       192                 DJ Dolores & Orchestra Santa Massa    None
67  None       193                                          Seu Jorge    None
68  None       194                               Sabotage E Instituto    None
69  None       195                                    Stereo Maracana    None
70  None       239  Academy of St. Martin in the Fields, Sir Nevil...    None

[71 rows x 4 columns]

<Strong>Q23：(需要4張表串連後才能找到資訊)從 Customers, Invoices, Invoice_Items, Tracks 四張表找出 The Number Of The Beast 這首歌被誰(FirstName)購買過？ 被購買了幾次？</Strong>
<br>ANS：<font color="white">SELECT C.FirstName, COUNT(I.InvoiceID) AS Purchased_times
<br>FROM Customers AS C INNER JOIN Invoices AS I ON C.CustomerID = I.CustomerID
<br>INNER JOIN Invoice_Items AS II ON I.InvoiceID = II.InvoiceID
<br>INNER JOIN Tracks AS T ON II.TrackID = T.TrackID
<br>WHERE T.Name = "The Number Of The Beast"
<br>GROUP BY C.FirstName</font>

In [ ]:
Query = '''
SELECT C.FirstName, COUNT(I.InvoiceID) AS Purchased_times
FROM Customers AS C
INNER JOIN Invoices AS I ON C.CustomerID = I.CustomerID
INNER JOIN Invoice_Items AS II ON I.InvoiceID = II.InvoiceID
INNER JOIN Tracks AS T ON II.TrackID = T.TrackID
WHERE T.Name = "The Number Of The Beast"
GROUP BY C.FirstName

'''
run_query(Query)

  FirstName  Purchased_times
0   Camille                1
1    Edward                1
2    Hannah                2

Subquery
----
我們可以將一個 SQL 查詢語句塞入另一個 SQL 查詢語句中，這就是子查詢 (Subquery)。
<br>子查詢是一個查詢內的查詢，可以用來連接資料表，或在不能使用單一語句來完成的查詢時使用。

<Strong>Q24：承 Q20 的內容，使用子查詢 (Subquery) 將姓名以 F 開頭的人篩選出來 </Strong>
<br><font color="green">SELECT </font>"欄位名"<font color="green"> FROM</font> (Subquery)
<br>ANS：<font color="white">SELECT * from
<br>(
<br>SELECT C.CustomerID, C.FirstName, AVG(I.total) AS Average_Total
<br>FROM customers AS C
<br>INNER JOIN Invoices AS I ON C.CustomerId = I.CustomerId
<br>GROUP BY I.CustomerId
<br>HAVING AVG(total)>6
<br>ORDER BY Average_Total DESC
<br>)
<br>WHERE FirstName Like "F%"</font>

In [ ]:
Query = '''
SELECT * from
(
SELECT C.CustomerID, C.FirstName, AVG(I.total) AS Average_Total
FROM customers AS C
INNER JOIN Invoices AS I ON C.CustomerId = I.CustomerId
GROUP BY I.CustomerId
HAVING AVG(total)>6
ORDER BY Average_Total DESC
)
WHERE FirstName Like "F%"
'''
run_query(Query)
#1. 加括號: 左右括號裡面為一個新的表暫存
#2. Select * from 把這個表選出來
#3. 用外圈函數篩選內圈條件，這樣就可以好幾圈了(下面範例)

   CustomerID FirstName  Average_Total
0          24     Frank       6.231429
1          37      Fynn       6.231429

In [ ]:
Query = '''
select * from
(
    SELECT * from
(
SELECT C.CustomerID, C.FirstName, AVG(I.total) AS Average_Total
FROM customers AS C
INNER JOIN Invoices AS I ON C.CustomerId = I.CustomerId
GROUP BY I.CustomerId
HAVING AVG(total)>6
ORDER BY Average_Total DESC
) As Newtable
WHERE FirstName Like "F%"
) As Newtable2
WHERE CustomerID>30
'''
run_query(Query)

   CustomerID FirstName  Average_Total
0          37      Fynn       6.231429

CASE
----
CASE 類似於程式語言裡的 if/then/else 語句，經常用來作<span class="mark">邏輯判斷或分群使用</span>。
我們可以將某個欄位依照 CASE 中設定的條件建立出一個新的欄位，並依此做出分群。
<br>
<br>我們先來看一下 CASE 的使用語法：
<br><font color="green">SELECT </font>"欄位名",
<br><font color="green">CASE</font> "欄位名"
<br><font color="green">WHEN</font> "條件" <font color="green">THEN</font> "新分類1"
<br><font color="green">ELSE</font> "新分類2"
<br><font color="green">END</font> "新欄位名"
<br><font color="green">FROM</font> "表格名"
<br>
<br>從上述使用案例可以看到，CASE 的使用需接在 SELECT 之後，其中條件設定以 WHEN 取代 IF，最後須以 END 作結尾。

<Strong>Q25：在 Customer 這張表中使用 CASE 新增一個欄位將消費者所在地分成「在地」（Domestic, 原籍地 USA）以及外籍（Foreign, 原籍地 USA 以外），同時依照 FirstName 排列</Strong>
<br><font color="green">SELECT </font>"欄位名",
<br><font color="green">CASE</font> "欄位名"
<br><font color="green">WHEN</font> "條件" <font color="green">THEN</font> "新分類1"
<br><font color="green">ELSE</font> "新分類2"
<br><font color="green">END</font> "新欄位名"
<br><font color="green">FROM</font> "表格名"
<br><font color="green">ORDER BY</font> "欄位名"<font color="green"> ASC/DESC </font>
<br>ANS：<font color="white">SELECT Firstname, Country,
<br>CASE Country
<br>WHEN "USA" THEN "Domestic"
<br>ELSE "Foreign"
<br>END CustomerGroup
<br>FROM Customers
<br>ORDER BY FirstName

In [ ]:
Query = '''
SELECT Firstname, Country,
CASE Country
WHEN "USA" THEN "Domestic"
ELSE "Foreign"
END CustomerGroup
FROM Customers
ORDER BY FirstName
'''
run_query(Query)
#CASE Country
#WHEN "USA" THEN "Domestic"
#ELSE "Foreign"
#END CustomerGroup
#以上都是為了製造直的一排CustomerGroup欄位

    FirstName         Country CustomerGroup
0       Aaron          Canada       Foreign
1   Alexandre          Brazil       Foreign
2      Astrid         Austria       Foreign
3       Bjørn          Norway       Foreign
4     Camille          France       Foreign
5        Daan         Belgium       Foreign
6         Dan             USA      Domestic
7       Diego       Argentina       Foreign
8   Dominique          France       Foreign
9     Eduardo          Brazil       Foreign
10     Edward          Canada       Foreign
11      Ellie          Canada       Foreign
12       Emma  United Kingdom       Foreign
13    Enrique           Spain       Foreign
14   Fernanda          Brazil       Foreign
15      Frank             USA      Domestic
16      Frank             USA      Domestic
17  František  Czech Republic       Foreign
18   François          Canada       Foreign
19       Fynn         Germany       Foreign
20     Hannah         Germany       Foreign
21    Heather             USA      Domestic
22     Helena  Czech Republic       Foreign
23       Hugh         Ireland       Foreign
24   Isabelle          France       Foreign
25       Jack             USA      Domestic
26   Jennifer          Canada       Foreign
27     Joakim          Sweden       Foreign
28   Johannes     Netherlands       Foreign
29       John             USA      Domestic
30       João        Portugal       Foreign
31      Julia             USA      Domestic
32       Kara         Denmark       Foreign
33      Kathy             USA      Domestic
34   Ladislav         Hungary       Foreign
35     Leonie         Germany       Foreign
36      Lucas           Italy       Foreign
37       Luis           Chile       Foreign
38       Luís          Brazil       Foreign
39   Madalena        Portugal       Foreign
40      Manoj           India       Foreign
41       Marc          France       Foreign
42       Mark          Canada       Foreign
43       Mark       Australia       Foreign
44     Martha          Canada       Foreign
45   Michelle             USA      Domestic
46     Niklas         Germany       Foreign
47    Patrick             USA      Domestic
48       Phil  United Kingdom       Foreign
49       Puja           India       Foreign
50    Richard             USA      Domestic
51     Robert          Canada       Foreign
52    Roberto          Brazil       Foreign
53  Stanisław          Poland       Foreign
54      Steve  United Kingdom       Foreign
55      Terhi         Finland       Foreign
56        Tim             USA      Domestic
57     Victor             USA      Domestic
58      Wyatt          France       Foreign

<Strong>Q26：在 Tracks 這張表中使用 CASE 新增一個欄位將所有歌曲依照其歌曲長度分成 Short (< 60000ms), Medium (介於 60000 到 300000ms), Long (> 300000ms) ，並依照長度降序排列</Strong>
<br><font color="green">SELECT </font>"欄位名",
<br><font color="green">CASE</font> "欄位名"
<br><font color="green">WHEN</font> "條件" <font color="green">THEN</font> "新分類1"
<br><font color="green">WHEN</font> "條件" <font color="green">THEN</font> "新分類2"
<br><font color="green">ELSE</font> "新分類3"
<br><font color="green">END</font> "新欄位名"
<br><font color="green">FROM</font> "表格名"
<br><font color="green">ORDER BY</font> "欄位名"<font color="green"> ASC/DESC </font>
<br>ANS：<font color="white">SELECT Trackid, Name,
<br>CASE WHEN Milliseconds < 60000 THEN "Short"
<br>WHEN Milliseconds BETWEEN 60000 AND 300000 THEN "Medium"
<br>ELSE "Long"
<br>END Category, Milliseconds
<br>FROM Tracks
<br>ORDER BY Milliseconds DESC

In [ ]:
Query = '''
SELECT Name,
CASE Milliseconds
WHEN Milliseconds < 60000 THEN "Short"
WHEN Milliseconds BETWEEN 60000 AND 300000 THEN "Medium"
ELSE "Long"
END Category, Milliseconds
FROM Tracks
ORDER BY Milliseconds DESC

'''
run_query(Query)

                             Name Category  Milliseconds
0          Occupation / Precipice     Long       5286953
1         Through a Looking Glass     Long       5088838
2     Greetings from Earth, Pt. 1     Long       2960293
3         The Man With Nine Lives     Long       2956998
4     Battlestar Galactica, Pt. 2     Long       2956081
...                           ...      ...           ...
3498                 Commercial 1     Long          7941
3499                        Oprah     Long          6635
3500                  A Statistic     Long          6373
3501                   Now Sports     Long          4884
3502     É Uma Partida De Futebol     Long          1071

[3503 rows x 3 columns]

進階概念 "Window Function"
----

Group by 的聚合函數會將同一組所有值匯總成<span class="mark"><Strong>『 一行 』 </Strong></font></span>  
Partition by 的移動窗格函數原本的行列數<span class="mark"><Strong>『 不會改變 』 </Strong></font></span>

In [ ]:
image_url2 = "https://miro.medium.com/v2/resize:fit:1400/1*bWw3tHCsXRHyOKOkm81eUg.png"
Image(url=image_url2)

<Strong>Step1 : 先把 Customers 以及 Invoices 兩張表格合併</Strong>

In [ ]:
Query = '''
SELECT *
FROM Customers AS C
INNER JOIN Invoices AS I ON C.CustomerId = I.CustomerId
'''
run_query(Query)

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,...,SupportRepId,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,...,3,98,1,2010-03-11 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,3.98
1,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,...,3,121,1,2010-06-13 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,3.96
2,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,...,3,143,1,2010-09-15 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,5.94
3,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,...,3,195,1,2011-05-06 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,0.99
4,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,...,3,316,1,2012-10-27 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,1.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,...,3,45,59,2009-07-08 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,5.94
408,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,...,3,97,59,2010-02-26 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,1.99
409,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,...,3,218,59,2011-08-20 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,1.98
410,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,...,3,229,59,2011-09-30 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,13.86
411,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,...,3,284,59,2012-05-30 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,8.91

<Strong>Step2 : 計算每一位消費者的總消費金額  (把 Total 欄位加總) </Strong>

In [ ]:
# Group By 只會呈現一行
Query = '''
SELECT SUM(Total), *
FROM (
    SELECT *
    FROM Customers AS C
    INNER JOIN Invoices AS I ON C.CustomerId = I.CustomerId
)
GROUP BY FirstName
ORDER BY CustomerID
'''
run_query(Query)

#GROUP BY CustomerID 比較好，可避免同名同姓的問題
#GROUP BY 呈現的是一個人的最終消費額

,SUM(Total),CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,...,SupportRepId,InvoiceId,CustomerId:1,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,39.62,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,...,3,98,1,2010-03-11 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,3.98
1,37.62,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,...,5,1,2,2009-01-01 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,1.98
2,39.62,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,...,3,99,3,2010-03-11 00:00:00,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,3.98
3,39.62,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,...,4,2,4,2009-01-02 00:00:00,Ullevålsveien 14,Oslo,None,Norway,0171,3.96
4,40.62,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,...,4,77,5,2009-12-08 00:00:00,Klanova 9/506,Prague,None,Czech Republic,14700,1.98
5,49.62,6,Helena,Holý,None,Rilská 3174/6,Prague,None,Czech Republic,14300,...,5,46,6,2009-07-11 00:00:00,Rilská 3174/6,Prague,None,Czech Republic,14300,8.91
6,42.62,7,Astrid,Gruber,None,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,None,Austria,1010,...,5,78,7,2009-12-08 00:00:00,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,None,Austria,1010,1.98
7,37.62,8,Daan,Peeters,None,Grétrystraat 63,Brussels,None,Belgium,1000,...,4,3,8,2009-01-03 00:00:00,Grétrystraat 63,Brussels,None,Belgium,1000,5.94
8,37.62,9,Kara,Nielsen,None,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,...,4,56,9,2009-09-06 00:00:00,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,1.98
9,37.62,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,...,4,25,10,2009-04-09 00:00:00,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,8.91
10,37.62,11,Alexandre,Rocha,Banco do Brasil S.A.,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,...,5,57,11,2009-09-06 00:00:00,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,1.98
11,37.62,12,Roberto,Almeida,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,...,3,34,12,2009-05-23 00:00:00,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,0.99
12,37.62,13,Fernanda,Ramos,None,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,...,4,35,13,2009-06-05 00:00:00,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,1.98
13,75.24,14,Mark,Philips,Telus,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,...,5,4,14,2009-01-06 00:00:00,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,8.91
14,38.62,15,Jennifer,Peterson,Rogers Canada,700 W Pender Street,Vancouver,BC,Canada,V6C 1G8,...,3,36,15,2009-06-05 00:00:00,700 W Pender Street,Vancouver,BC,Canada,V6C 1G8,1.98
15,81.24,16,Frank,Harris,Google Inc.,1600 Amphitheatre Parkway,Mountain View,CA,USA,94043-1351,...,4,13,16,2009-02-19 00:00:00,1600 Amphitheatre Parkway,Mountain View,CA,USA,94043-1351,0.99
16,39.62,17,Jack,Smith,Microsoft Corporation,1 Microsoft Way,Redmond,WA,USA,98052-8300,...,5,14,17,2009-03-04 00:00:00,1 Microsoft Way,Redmond,WA,USA,98052-8300,1.98
17,37.62,18,Michelle,Brooks,None,627 Broadway,New York,NY,USA,10012-2612,...,3,112,18,2010-05-12 00:00:00,627 Broadway,New York,NY,USA,10012-2612,1.98
18,38.62,19,Tim,Goyer,Apple Inc.,1 Infinite Loop,Cupertino,CA,USA,95014,...,3,15,19,2009-03-04 00:00:00,1 Infinite Loop,Cupertino,CA,USA,95014,1.98
19,39.62,20,Dan,Miller,None,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,...,4,113,20,2010-05-12 00:00:00,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,1.98
20,37.62,21,Kathy,Chase,None,801 W 4th Street,Reno,NV,USA,89503,...,5,16,21,2009-03-05 00:00:00,801 W 4th Street,Reno,NV,USA,89503,3.96
21,39.62,22,Heather,Leacock,None,120 S Orange Ave,Orlando,FL,USA,32801,...,4,91,22,2010-02-08 00:00:00,120 S Orange Ave,Orlando,FL,USA,32801,1.98
22,37.62,23,John,Gordon,None,69 Salem Street,Boston,MA,USA,2113,...,4,5,23,2009-01-11 00:00:00,69 Salem Street,Boston,MA,USA,2113,13.86
23,42.62,25,Victor,Stevens,None,319 N. Frances Street,Madison,WI,USA,53703,...,5,17,25,2009-03-06 00:00:00,319 N. Frances Street,Madison,WI,USA,53703,5.94
24,47.62,26,Richard,Cunningham,None,2211 W Berry Street,Fort Worth,TX,USA,76110,...,4,70,26,2009-11-07 00:00:00,2211 W Berry Street,Fort Worth,TX,USA,76110,1.98
25,37.62,27,Patrick,Gray,None,1033 N Park Ave,Tucson,AZ,USA,85719,...,4,39,27,2009-06-10 00:00:00,1033 N Park Ave,Tucson,AZ,USA,85719,8.91
26,43.62,28,Julia,Barnett,None,302 S 700 E,Salt Lake City,UT,USA,84102,...,5,71,28,2009-11-07 00:00:00,302 S 700 E,Salt Lake City,UT,USA,84102,1.98
27,37.62,29,Robert,Brown,None,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,...,3,48,29,2009-07-24 00:00:00,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,0.99
28,37.62,30,Edward,Francis,None,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,...,3,49,30,2009-08-06 00:00:00,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,1.98
29,37.62,31,Martha,Silk,None,194A Chain Lake Drive,Halifax,NS,Canada,B3S 1C5,...,5,18,31,2009-03-09 00:00:00,194A Chain Lake Drive,Halifax,NS,Canada,B3S 1C5,8.91
30,37.62,32,Aaron,Mitchell,None,696 Osborne Street,Winnipeg,MB,Canada,R3L 2B9,...,4,50,32,2009-08-06 00:00:00,696 Osborne Street,Winnipeg,MB,Canada,R3L 2B9,1.98
31,37.62,33,Ellie,Sullivan,None,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,...,3,27,33,2009-04-22 00:00:00,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,0.99
32,39.62,34,João,Fernandes,None,Rua da Assunção 53,Lisbon,None,Portugal,None,...,4,28,34,2009-05-05 00:00:00,Rua da Assunção 53,Lisbon,None,Portugal,None,1.98
33,37.62,35,Madalena,Sampaio,None,"Rua dos Campeões Europeus de Viena, 4350",Porto,None,Portugal,None,...,4,126,35,2010-07-13 00:00:00,"Rua dos Campeões Europeus de Viena, 4350",Porto,None,Portugal,None,1.98
34,37.62,36,Hannah,Schneider,None,Tauentzienstraße 8,Berlin,None,Germany,10789,...,5,29,36,2009-05-05 00:00:00,Tauentzienstraße 8,Berlin,None,Germany,10789,1.98
35,43.62,37,Fynn,Zimmermann,None,Berger Straße 10,Frankfurt,None,Germany,60316,...,3,6,37,2009-01-19 00:00:00,Berger Straße 10,Frankfurt,None,Germany,60316,0.99
36,37.62,38,Niklas,Schröder,None,Barbarossastraße 19,Berlin,None,Germany,10779,...,3,7,38,2009-02-01 00:00:00,Barbarossastraße 19,Berlin,None,Germany,10779,1.98
37,38.62,39,Camille,Bernard,None,"4, Rue Milton",Paris,None,France,75009,...,4,105,39,2010-04-11 00:00:00,"4, Rue Milton",Paris,None,France,75009,1.98
38,38.62,40,Dominique,Lefebvre,None,"8, Rue Hanovre",Paris,None,France,75002,...,4,8,40,2009-02-01 00:00:00,"8, Rue Hanovre",Paris,None,France,75002,1.98
39,37.62,41,Marc,Dubois,None,"11, Place Bellecour",Lyon,None,France,69002,...,5,106,41,2010-04-11 00:00:00,"11, Place Bellecour",Lyon,None,France,69002,1.98
40,39.62,42,Wyatt,Girard,None,"9, Place Louis Barthou",Bordeaux,None,France,33000,...,3,9,42,2009-02-02 00:00:00,"9, Place Louis Barthou",Bordeaux,None,France,33000,3.96
41,40.62,43,Isabelle,Mercier,None,"68, Rue Jouvence",Dijon,None,France,21000,...,3,84,43,2010-01-08 00:00:00,"68, Rue Jouvence",Dijon,None,France,21000,1.98
42,41.62,44,Terhi,Hämäläinen,None,Porthaninkatu 9,Helsinki,None,Finland,00530,...,3,53,44,2009-08-11 00:00:00,Porthaninkatu 9,Helsinki,None,Finland,00530,8.91
43,45.62,45,Ladislav,Kovács,None,Erzsébet krt. 58.,Budapest,None,Hungary,H-1073,...,3,85,45,2010-01-08 00:00:00,Erzsébet krt. 58.,Budapest,None,Hungary,H-1073,1.98
44,45.62,46,Hugh,O'Reilly,None,3 Chatham Street,Dublin,Dublin,Ireland,None,...,3,10,46,2009-02-03 00:00:00,3 Chatham Street,Dublin,Dublin,Ireland,None,5.94
45,37.62,47,Lucas,Mancini,None,"Via Degli Scipioni, 43",Rome,RM,Italy,00192,...,5,63,47,2009-10-07 00:00:00,"Via Degli Scipioni, 43",Rome,RM,Italy,00192,1.98
46,40.62,48,Johannes,Van der Berg,None,Lijnbaansgracht 120bg,Amsterdam,VV,Netherlands,1016,...,5,32,48,2009-05-10 00:00:00,Lijnbaansgracht 120bg,Amsterdam,VV,Netherlands,1016,8.91
47,37.62,49,Stanisław,Wójcik,None,Ordynacka 10,Warsaw,None,Poland,00-358,...,4,64,49,2009-10-07 00:00:00,Ordynacka 10,Warsaw,None,Poland,00-358,1.98
48,37.62,50,Enrique,Muñoz,None,C/ San Bernardo 85,Madrid,None,Spain,28015,...,5,41,50,2009-06-23 00:00:00,C/ San Bernardo 85,Madrid,None,Spain,28015,0.99
49,38.62,51,Joakim,Johansson,None,Celsiusg. 9,Stockholm,None,Sweden,11230,...,5,42,51,2009-07-06 00:00:00,Celsiusg. 9,Stockholm,None,Sweden,11230,1.98
50,37.62,52,Emma,Jones,None,202 Hoxton Street,London,None,United Kingdom,N1 5LH,...,3,11,52,2009-02-06 00:00:00,202 Hoxton Street,London,None,United Kingdom,N1 5LH,8.91
51,37.62,53,Phil,Hughes,None,113 Lupus St,London,None,United Kingdom,SW1V 3EN,...,3,43,53,2009-07-06 00:00:00,113 Lupus St,London,None,United Kingdom,SW1V 3EN,1.98
52,37.62,54,Steve,Murray,None,110 Raeburn Pl,Edinburgh,None,United Kingdom,EH4 1HH,...,5,20,54,2009-03-22 00:00:00,110 Raeburn Pl,Edinburgh,None,United Kingdom,EH4 1HH,0.99
53,37.62,56,Diego,Gutiérrez,None,307 Macacha Güemes,Buenos Aires,None,Argentina,1106,...,4,119,56,2010-06-12 00:00:00,307 Macacha Güemes,Buenos Aires,None,Argentina,1106,1.98
54,46.62,57,Luis,Rojas,None,"Calle Lira, 198",Santiago,None,Chile,None,...,5,22,57,2009-04-04 00:00:00,"Calle Lira, 198",Santiago,None,Chile,None,1.98
55,38.62,58,Manoj,Pareek,None,"12,Community Centre",Delhi,None,India,110017,...,3,120,58,2010-06-12 00:00:00,"12,Community Centre",Delhi,None,India,110017,1.98
56,36.64,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,...,3,23,59,2009-04-05 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,3.96

In [ ]:
# Partition By 不會改變原本行數，並且所有行數在該欄位都會顯示一樣的運算結果
Query = '''
SELECT SUM(Total) OVER (PARTITION BY CustomerId) AS Sum, *
FROM (
    SELECT *
    FROM Customers AS C
    INNER JOIN Invoices AS I ON C.CustomerId = I.CustomerId
)

limit5
'''
run_query(Query)

,Sum,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,...,SupportRepId,InvoiceId,CustomerId:1,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,39.62,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,...,3,98,1,2010-03-11 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,3.98
1,39.62,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,...,3,121,1,2010-06-13 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,3.96
2,39.62,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,...,3,143,1,2010-09-15 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,5.94
3,39.62,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,...,3,195,1,2011-05-06 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,0.99
4,39.62,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,...,3,316,1,2012-10-27 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,1.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,36.64,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,...,3,45,59,2009-07-08 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,5.94
408,36.64,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,...,3,97,59,2010-02-26 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,1.99
409,36.64,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,...,3,218,59,2011-08-20 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,1.98
410,36.64,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,...,3,229,59,2011-09-30 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,13.86
411,36.64,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,...,3,284,59,2012-05-30 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,8.91

<Strong>Step3 : 消費者可能購買多次，我們加上訂單編號 (InvoiceId) 並由小到大排序 </Strong>

Note: 這邊可以下條件判斷式，把同一個消費者拉出來觀察數據產生什麼變化

In [ ]:
Query = '''
SELECT SUM(Total) OVER (PARTITION BY CustomerId ORDER BY InvoiceId) AS Sum,
       *
FROM (
    SELECT *
    FROM Customers AS C
    INNER JOIN Invoices AS I ON C.CustomerId = I.CustomerId
)
'''
run_query(Query)

,Sum,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,...,SupportRepId,InvoiceId,CustomerId:1,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,3.98,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,...,3,98,1,2010-03-11 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,3.98
1,7.94,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,...,3,121,1,2010-06-13 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,3.96
2,13.88,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,...,3,143,1,2010-09-15 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,5.94
3,14.87,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,...,3,195,1,2011-05-06 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,0.99
4,16.85,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,...,3,316,1,2012-10-27 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,1.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,9.90,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,...,3,45,59,2009-07-08 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,5.94
408,11.89,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,...,3,97,59,2010-02-26 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,1.99
409,13.87,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,...,3,218,59,2011-08-20 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,1.98
410,27.73,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,...,3,229,59,2011-09-30 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,13.86
411,36.64,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,...,3,284,59,2012-05-30 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,8.91

In [ ]:
Query = '''
SELECT * FROM
(
SELECT SUM(Total) OVER (PARTITION BY CustomerId ORDER BY InvoiceId) AS Sum,
       *
FROM (
    SELECT *
    FROM Customers AS C
    INNER JOIN Invoices AS I ON C.CustomerId = I.CustomerId
)
)
WHERE FirstName="Luís"
'''
run_query(Query)

,Sum,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,...,SupportRepId,InvoiceId,CustomerId:1,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,3.98,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,...,3,98,1,2010-03-11 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,3.98
1,7.94,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,...,3,121,1,2010-06-13 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,3.96
2,13.88,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,...,3,143,1,2010-09-15 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,5.94
3,14.87,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,...,3,195,1,2011-05-06 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,0.99
4,16.85,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,...,3,316,1,2012-10-27 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,1.98
5,30.71,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,...,3,327,1,2012-12-07 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,13.86
6,39.62,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,...,3,382,1,2013-08-07 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,8.91

In [ ]:
Query = '''
SELECT * FROM
(
SELECT MAX(Total) OVER (PARTITION BY CustomerId ORDER BY InvoiceId) AS Max,
       *
FROM (
    SELECT *
    FROM Customers AS C
    INNER JOIN Invoices AS I ON C.CustomerId = I.CustomerId
)
)
WHERE FirstName="Luís"
'''
run_query(Query)

,Max,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,...,SupportRepId,InvoiceId,CustomerId:1,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,3.98,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,...,3,98,1,2010-03-11 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,3.98
1,3.98,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,...,3,121,1,2010-06-13 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,3.96
2,5.94,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,...,3,143,1,2010-09-15 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,5.94
3,5.94,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,...,3,195,1,2011-05-06 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,0.99
4,5.94,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,...,3,316,1,2012-10-27 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,1.98
5,13.86,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,...,3,327,1,2012-12-07 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,13.86
6,13.86,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,...,3,382,1,2013-08-07 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,8.91

In [ ]:
# 發現最左邊的數字是由訂單編號由小到大層層疊加上去
Query = '''
SELECT sum(Total) OVER (PARTITION BY CustomerId ORDER BY InvoiceId) AS Sum,
       total
FROM (
    SELECT *
    FROM Customers AS C
    INNER JOIN Invoices AS I ON C.CustomerId = I.CustomerId
)
WHERE CustomerID = 1
'''
run_query(Query)

     Sum  Total
0   3.98   3.98
1   7.94   3.96
2  13.88   5.94
3  14.87   0.99
4  16.85   1.98
5  30.71  13.86
6  39.62   8.91

<Strong>Step4: 如果是跟時間先後排序概念有關的題目，可以應用 Row_number 函數實現</Strong>  

筆記：Row_number 會給予同一個組中每一筆資料號碼，再透過條件篩選你要的資訊。 例如每一個顧客第二次購買的時間為何？

In [ ]:
Query = '''
SELECT Total,
       ROW_NUMBER() OVER (PARTITION BY CustomerId ORDER BY InvoiceId) AS number,
       CustomerID,
       FirstName,
       InvoiceId,
       InvoiceDate
FROM (
    SELECT *
    FROM Customers AS C
    INNER JOIN Invoices AS I ON C.CustomerId = I.CustomerId
)
'''
run_query(Query)

#ROW_NUMBER() 給Luis的七筆消費打上編號，之後要查找就很方便了

     Total  number  CustomerId FirstName  InvoiceId          InvoiceDate
0     3.98       1           1      Luís         98  2010-03-11 00:00:00
1     3.96       2           1      Luís        121  2010-06-13 00:00:00
2     5.94       3           1      Luís        143  2010-09-15 00:00:00
3     0.99       4           1      Luís        195  2011-05-06 00:00:00
4     1.98       5           1      Luís        316  2012-10-27 00:00:00
..     ...     ...         ...       ...        ...                  ...
407   5.94       2          59      Puja         45  2009-07-08 00:00:00
408   1.99       3          59      Puja         97  2010-02-26 00:00:00
409   1.98       4          59      Puja        218  2011-08-20 00:00:00
410  13.86       5          59      Puja        229  2011-09-30 00:00:00
411   8.91       6          59      Puja        284  2012-05-30 00:00:00

[412 rows x 6 columns]

<Strong>Step5: 學會靈活運用。 請試算從第一天購買到最近一次購買超過 1500 天的人有多少</Strong>

In [ ]:
# 這邊下一個 HAVING 或是 WHERE 條件判斷式就能夠篩選出來
# JULIANDAY函數可以用於各種日期和時間計算，如計算日期之間的間隔，比較日期，或者執行其他日期相關的操作
Query = '''
SELECT MAX(InvoiceDate) AS MaxInvoiceDate,
       MIN(InvoiceDate) AS MinInvoiceDate,
       JULIANDAY(MAX(InvoiceDate)) - JULIANDAY(MIN(InvoiceDate)) AS DateDiff,
       CustomerId
FROM (
    SELECT Total,
           ROW_NUMBER() OVER (PARTITION BY CustomerId ORDER BY InvoiceId) AS number,
           CustomerID,
           FirstName,
           InvoiceId,
           InvoiceDate
    FROM (
        SELECT *
        FROM Customers AS C
        INNER JOIN Invoices AS I ON C.CustomerId = I.CustomerId
    )
) AS T
GROUP BY CustomerId

'''
run_query(Query)

         MaxInvoiceDate       MinInvoiceDate  DateDiff  CustomerID
0   2013-08-07 00:00:00  2010-03-11 00:00:00    1245.0           1
1   2012-07-13 00:00:00  2009-01-01 00:00:00    1289.0           2
2   2013-09-20 00:00:00  2010-03-11 00:00:00    1289.0           3
3   2013-10-03 00:00:00  2009-01-02 00:00:00    1735.0           4
4   2013-05-06 00:00:00  2009-12-08 00:00:00    1245.0           5
5   2013-11-13 00:00:00  2009-07-11 00:00:00    1586.0           6
6   2013-06-19 00:00:00  2009-12-08 00:00:00    1289.0           7
7   2013-10-04 00:00:00  2009-01-03 00:00:00    1735.0           8
8   2013-02-02 00:00:00  2009-09-06 00:00:00    1245.0           9
9   2013-08-12 00:00:00  2009-04-09 00:00:00    1586.0          10
10  2013-03-18 00:00:00  2009-09-06 00:00:00    1289.0          11
11  2013-10-05 00:00:00  2009-05-23 00:00:00    1596.0          12
12  2012-11-01 00:00:00  2009-06-05 00:00:00    1245.0          13
13  2013-05-11 00:00:00  2009-01-06 00:00:00    1586.0          14
14  2012-12-15 00:00:00  2009-06-05 00:00:00    1289.0          15
15  2013-07-04 00:00:00  2009-02-19 00:00:00    1596.0          16
16  2012-07-31 00:00:00  2009-03-04 00:00:00    1245.0          17
17  2013-10-08 00:00:00  2010-05-12 00:00:00    1245.0          18
18  2012-09-13 00:00:00  2009-03-04 00:00:00    1289.0          19
19  2013-11-21 00:00:00  2010-05-12 00:00:00    1289.0          20
20  2013-12-04 00:00:00  2009-03-05 00:00:00    1735.0          21
21  2013-07-07 00:00:00  2010-02-08 00:00:00    1245.0          22
22  2013-12-04 00:00:00  2009-01-11 00:00:00    1788.0          23
23  2013-08-20 00:00:00  2010-02-08 00:00:00    1289.0          24
24  2013-12-05 00:00:00  2009-03-06 00:00:00    1735.0          25
25  2013-04-05 00:00:00  2009-11-07 00:00:00    1245.0          26
26  2013-10-13 00:00:00  2009-06-10 00:00:00    1586.0          27
27  2013-05-19 00:00:00  2009-11-07 00:00:00    1289.0          28
28  2013-12-06 00:00:00  2009-07-24 00:00:00    1596.0          29
29  2013-01-02 00:00:00  2009-08-06 00:00:00    1245.0          30
30  2013-07-12 00:00:00  2009-03-09 00:00:00    1586.0          31
31  2013-02-15 00:00:00  2009-08-06 00:00:00    1289.0          32
32  2013-09-04 00:00:00  2009-04-22 00:00:00    1596.0          33
33  2012-10-01 00:00:00  2009-05-05 00:00:00    1245.0          34
34  2013-12-09 00:00:00  2010-07-13 00:00:00    1245.0          35
35  2012-11-14 00:00:00  2009-05-05 00:00:00    1289.0          36
36  2013-06-03 00:00:00  2009-01-19 00:00:00    1596.0          37
37  2012-06-30 00:00:00  2009-02-01 00:00:00    1245.0          38
38  2013-09-07 00:00:00  2010-04-11 00:00:00    1245.0          39
39  2012-08-13 00:00:00  2009-02-01 00:00:00    1289.0          40
40  2013-10-21 00:00:00  2010-04-11 00:00:00    1289.0          41
41  2013-11-03 00:00:00  2009-02-02 00:00:00    1735.0          42
42  2013-06-06 00:00:00  2010-01-08 00:00:00    1245.0          43
43  2013-12-14 00:00:00  2009-08-11 00:00:00    1586.0          44
44  2013-07-20 00:00:00  2010-01-08 00:00:00    1289.0          45
45  2013-11-04 00:00:00  2009-02-03 00:00:00    1735.0          46
46  2013-03-05 00:00:00  2009-10-07 00:00:00    1245.0          47
47  2013-09-12 00:00:00  2009-05-10 00:00:00    1586.0          48
48  2013-04-18 00:00:00  2009-10-07 00:00:00    1289.0          49
49  2013-11-05 00:00:00  2009-06-23 00:00:00    1596.0          50
50  2012-12-02 00:00:00  2009-07-06 00:00:00    1245.0          51
51  2013-06-11 00:00:00  2009-02-06 00:00:00    1586.0          52
52  2013-01-15 00:00:00  2009-07-06 00:00:00    1289.0          53
53  2013-08-04 00:00:00  2009-03-22 00:00:00    1596.0          54
54  2012-08-31 00:00:00  2009-04-04 00:00:00    1245.0          55
55  2013-11-08 00:00:00  2010-06-12 00:00:00    1245.0          56
56  2012-10-14 00:00:00  2009-04-04 00:00:00    1289.0          57
57  2013-12-22 00:00:00  2010-06-12 00:00:00    1289.0          58
58  2012-05-30 00:00:00  2009-04-05 00:00:00    1151.0          59

<Strong>Step6: 學會更複雜的運用。 公司寄出感謝祭，有一筆預算可以應用回饋給所有客戶，將這群客戶平均分為三個群體，最忠誠待最久那一群給予 A 禮物，第二群給予 B 禮物，第三群給予 C 禮物，請問各群體有多少人？</Strong>

In [ ]:
# 第一組介於 1151 以及 1363 之間
# 第二組介於 1363 以及 1575 之間 -> 此群體為 0 人
# 第三組介於 1575 以及 1788 之間

# 人數多的時候，可以再用 Count + Group by 快速運算，這題交給你去試試看

Query = '''
SELECT *,
       CASE
           WHEN DateDiff < MinDateDiff+((MaxDateDiff - MinDateDiff) / 3) THEN 'Group 1'
           WHEN DateDiff < MinDateDiff=(2 * (MaxDateDiff - MinDateDiff) / 3) THEN 'Group 2'
           ELSE 'Group 3'
       END AS GroupName
FROM (
    SELECT *,
           JULIANDAY(MaxInvoiceDate) - JULIANDAY(MinInvoiceDate) AS DateDiff,
           MAX(JULIANDAY(MaxInvoiceDate) - JULIANDAY(MinInvoiceDate)) OVER() AS MaxDateDiff,
           MIN(JULIANDAY(MaxInvoiceDate) - JULIANDAY(MinInvoiceDate)) OVER() AS MinDateDiff
    FROM (
        SELECT MAX(InvoiceDate) AS MaxInvoiceDate,
               MIN(InvoiceDate) AS MinInvoiceDate,
               CustomerId
        FROM (
            SELECT Total,
                   ROW_NUMBER() OVER (PARTITION BY CustomerId ORDER BY InvoiceId) AS number,
                   CustomerID,
                   FirstName,
                   InvoiceId,
                   InvoiceDate
            FROM (
                SELECT *
                FROM Customers AS C
                INNER JOIN Invoices AS I ON C.CustomerId = I.CustomerId
            )
        ) AS T
        GROUP BY CustomerId
    ) AS SubQuery
) AS SubQuery2

'''
run_query(Query)

,MaxInvoiceDate,MinInvoiceDate,CustomerId,DateDiff,MaxDateDiff,MinDateDiff,GroupName
0,2013-08-07 00:00:00,2010-03-11 00:00:00,1,1245.0,1788.0,1151.0,Group 1
1,2012-07-13 00:00:00,2009-01-01 00:00:00,2,1289.0,1788.0,1151.0,Group 1
2,2013-09-20 00:00:00,2010-03-11 00:00:00,3,1289.0,1788.0,1151.0,Group 1
3,2013-10-03 00:00:00,2009-01-02 00:00:00,4,1735.0,1788.0,1151.0,Group 3
4,2013-05-06 00:00:00,2009-12-08 00:00:00,5,1245.0,1788.0,1151.0,Group 1
5,2013-11-13 00:00:00,2009-07-11 00:00:00,6,1586.0,1788.0,1151.0,Group 3
6,2013-06-19 00:00:00,2009-12-08 00:00:00,7,1289.0,1788.0,1151.0,Group 1
7,2013-10-04 00:00:00,2009-01-03 00:00:00,8,1735.0,1788.0,1151.0,Group 3
8,2013-02-02 00:00:00,2009-09-06 00:00:00,9,1245.0,1788.0,1151.0,Group 1
9,2013-08-12 00:00:00,2009-04-09 00:00:00,10,1586.0,1788.0,1151.0,Group 3
10,2013-03-18 00:00:00,2009-09-06 00:00:00,11,1289.0,1788.0,1151.0,Group 1
11,2013-10-05 00:00:00,2009-05-23 00:00:00,12,1596.0,1788.0,1151.0,Group 3
12,2012-11-01 00:00:00,2009-06-05 00:00:00,13,1245.0,1788.0,1151.0,Group 1
13,2013-05-11 00:00:00,2009-01-06 00:00:00,14,1586.0,1788.0,1151.0,Group 3
14,2012-12-15 00:00:00,2009-06-05 00:00:00,15,1289.0,1788.0,1151.0,Group 1
15,2013-07-04 00:00:00,2009-02-19 00:00:00,16,1596.0,1788.0,1151.0,Group 3
16,2012-07-31 00:00:00,2009-03-04 00:00:00,17,1245.0,1788.0,1151.0,Group 1
17,2013-10-08 00:00:00,2010-05-12 00:00:00,18,1245.0,1788.0,1151.0,Group 1
18,2012-09-13 00:00:00,2009-03-04 00:00:00,19,1289.0,1788.0,1151.0,Group 1
19,2013-11-21 00:00:00,2010-05-12 00:00:00,20,1289.0,1788.0,1151.0,Group 1
20,2013-12-04 00:00:00,2009-03-05 00:00:00,21,1735.0,1788.0,1151.0,Group 3
21,2013-07-07 00:00:00,2010-02-08 00:00:00,22,1245.0,1788.0,1151.0,Group 1
22,2013-12-04 00:00:00,2009-01-11 00:00:00,23,1788.0,1788.0,1151.0,Group 3
23,2013-08-20 00:00:00,2010-02-08 00:00:00,24,1289.0,1788.0,1151.0,Group 1
24,2013-12-05 00:00:00,2009-03-06 00:00:00,25,1735.0,1788.0,1151.0,Group 3
25,2013-04-05 00:00:00,2009-11-07 00:00:00,26,1245.0,1788.0,1151.0,Group 1
26,2013-10-13 00:00:00,2009-06-10 00:00:00,27,1586.0,1788.0,1151.0,Group 3
27,2013-05-19 00:00:00,2009-11-07 00:00:00,28,1289.0,1788.0,1151.0,Group 1
28,2013-12-06 00:00:00,2009-07-24 00:00:00,29,1596.0,1788.0,1151.0,Group 3
29,2013-01-02 00:00:00,2009-08-06 00:00:00,30,1245.0,1788.0,1151.0,Group 1
30,2013-07-12 00:00:00,2009-03-09 00:00:00,31,1586.0,1788.0,1151.0,Group 3
31,2013-02-15 00:00:00,2009-08-06 00:00:00,32,1289.0,1788.0,1151.0,Group 1
32,2013-09-04 00:00:00,2009-04-22 00:00:00,33,1596.0,1788.0,1151.0,Group 3
33,2012-10-01 00:00:00,2009-05-05 00:00:00,34,1245.0,1788.0,1151.0,Group 1
34,2013-12-09 00:00:00,2010-07-13 00:00:00,35,1245.0,1788.0,1151.0,Group 1
35,2012-11-14 00:00:00,2009-05-05 00:00:00,36,1289.0,1788.0,1151.0,Group 1
36,2013-06-03 00:00:00,2009-01-19 00:00:00,37,1596.0,1788.0,1151.0,Group 3
37,2012-06-30 00:00:00,2009-02-01 00:00:00,38,1245.0,1788.0,1151.0,Group 1
38,2013-09-07 00:00:00,2010-04-11 00:00:00,39,1245.0,1788.0,1151.0,Group 1
39,2012-08-13 00:00:00,2009-02-01 00:00:00,40,1289.0,1788.0,1151.0,Group 1
40,2013-10-21 00:00:00,2010-04-11 00:00:00,41,1289.0,1788.0,1151.0,Group 1
41,2013-11-03 00:00:00,2009-02-02 00:00:00,42,1735.0,1788.0,1151.0,Group 3
42,2013-06-06 00:00:00,2010-01-08 00:00:00,43,1245.0,1788.0,1151.0,Group 1
43,2013-12-14 00:00:00,2009-08-11 00:00:00,44,1586.0,1788.0,1151.0,Group 3
44,2013-07-20 00:00:00,2010-01-08 00:00:00,45,1289.0,1788.0,1151.0,Group 1
45,2013-11-04 00:00:00,2009-02-03 00:00:00,46,1735.0,1788.0,1151.0,Group 3
46,2013-03-05 00:00:00,2009-10-07 00:00:00,47,1245.0,1788.0,1151.0,Group 1
47,2013-09-12 00:00:00,2009-05-10 00:00:00,48,1586.0,1788.0,1151.0,Group 3
48,2013-04-18 00:00:00,2009-10-07 00:00:00,49,1289.0,1788.0,1151.0,Group 1
49,2013-11-05 00:00:00,2009-06-23 00:00:00,50,1596.0,1788.0,1151.0,Group 3
50,2012-12-02 00:00:00,2009-07-06 00:00:00,51,1245.0,1788.0,1151.0,Group 1
51,2013-06-11 00:00:00,2009-02-06 00:00:00,52,1586.0,1788.0,1151.0,Group 3
52,2013-01-15 00:00:00,2009-07-06 00:00:00,53,1289.0,1788.0,1151.0,Group 1
53,2013-08-04 00:00:00,2009-03-22 00:00:00,54,1596.0,1788.0,1151.0,Group 3
54,2012-08-31 00:00:00,2009-04-04 00:00:00,55,1245.0,1788.0,1151.0,Group 1
55,2013-11-08 00:00:00,2010-06-12 00:00:00,56,1245.0,1788.0,1151.0,Group 1
56,2012-10-14 00:00:00,2009-04-04 00:00:00,57,1289.0,1788.0,1151.0,Group 1
57,2013-12-22 00:00:00,2010-06-12 00:00:00,58,1289.0,1788.0,1151.0,Group 1
58,2012-05-30 00:00:00,2009-04-05 00:00:00,59,1151.0,1788.0,1151.0,Group 1